<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" media="screen" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<nav id="navbar" class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/resumes">My resumes</a></li>
        <li><a href="/vacancies">Vacancies</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
<div class="container">
    <h1 th:text="${employer.name}"></h1>
    <div class="row"><label>Description: </label> <span th:text="${employer.description}"/></div>
    <div class="pull-right"><a th:href="@{/vacancies/{id}(id=${employer.id})}">List of vacancies</a> </div>
</div>
</body>
</html>