<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" media="screen" href="/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<nav id="navbar" class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/resumes">My resumes</a></li>
        <li><a href="/vacancies">Vacancies</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
<div class="container">
    <h1 th:text="${vacancy.title}"></h1>
    <div class="row"><label>Company: </label> <a th:href="@{/employer/{id}(id=${vacancy.employer.id})}"><span th:text="${vacancy.employer.name}"/></a></div>
    <div class="row"><label>Sphere: </label> <span th:text="${vacancy.sphere.name}"/></div>
    <div class="row"><label>Location: </label> <span th:text="${vacancy.region.name}"/></div>

    <h3>Vacancy details</h3>

</div>
</body>
</html>